<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
</head>
<body onload="page_load()"><center>
    <h2>Login</h2>
    <form action="{% url 'home:login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{username}}"/><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/><br>
        <input type="submit" value="Login"/>
    </form>
    </center>
    <script>
        function page_load() {
            if ("{{message}}" != ""){
            alert("{{message}}");
            }
        }
        history.pushState({}, null, '/');

    </script>
</body>
</html>