<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Tools</title>
</head>
<body onload="page_load()">
    {% include "home/Header.html" %}
<form action="{% url 'admintools:modify_user' %}" method="post">
    {% csrf_token %}
    <table border="1px solid black">
        <tr><td>Username</td><td>Email Address</td><td>User Type</td><td></td></tr>
    {% for user in all_users %}
        <tr
            {% if user.is_active == False %}
                style="color:gray;"
            {% endif %}
            >
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>
            {% if user.is_superuser == True %}
                Admin
            {% else %}
                Standard
            {% endif %}
            </td>
            <td>
            <input type="checkbox" id="{{user.username}}" name="{{user.username}}">
            </td></tr>
    {% endfor %}
    </table>
    <input type="submit" name = "action" value="Delete Users"/>
    <input type="submit" name = "action" value="Disable Users"/>
    <input type="submit" name = "action" value="Enable Users"/>
</form>
    <a href="{% url 'admintools:add_user' %}">Add User</a>


    <script>
        function page_load() {
            if ("{{message}}" != ""){
            alert("{{message}}");
            }
        }
        history.pushState({}, null, '/admintools');
    </script>
</body>

</html>