<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locate Host on Network</title>
</head>
<body onload="page_load()">
    {% include "home/Header.html" %}
<h2>Locate Host on Network</h2>

    <form action="{% url 'tools:locate_host' %}" method="post" id="locate_host_form">
        {% csrf_token %}
        <label for="mac_address_1">MAC Address:</label>
        <input type="text" id="mac_address_1" name="mac_address_1" class="mac_address_input"
               maxlength="4" size="4" oninput="check_mac()"/>
        <label for="mac_address_2">.</label>
        <input type="text" id="mac_address_2" name="mac_address_2" class="mac_address_input"
               maxlength="4" size="4" oninput="check_mac()"/>
        <label for="mac_address_3">.</label>
        <input type="text" id="mac_address_3" name="mac_address_3" class="mac_address_input"
               maxlength="4" size="4" oninput="check_mac()"/><br>

        <label for="host_switch_ip">Start search from:</label>
        <input type="hidden" id="host_switch_ip" name="host_switch_ip" value=""/>
        <select id="host_switch_select" onchange="set_host_switch()">
            {% for device in device_list %}
                    <option value="{{device.ip_address}}">{{device.device_name}} ({{device.device_type}})</option>
            {% endfor %}
        </select>


    </form>







 <script>
        mac_address_boxes = document.querySelectorAll(".mac_address_input");
        host_switch_ip_box = document.querySelector("#host_switch_ip");
        host_switch_select = document.querySelector("#host_switch_select");

        function page_load() {
            if ("{{message}}" != ""){
            alert("{{message}}");
            }
        }

        function check_mac(){

            for (i = 0; i < mac_address_boxes.length; ++i){
                mac_address_box = mac_address_boxes[i];
                lastChar = mac_address_box.value.substr(mac_address_box.value.length - 1);
                if (!lastChar.match(/[0-9A-Fa-f]/)){
                    mac_address_box.value = mac_address_box.value.substr(0, mac_address_box.value.length - 1);
                }
            }
        }

        function set_host_switch(){
            host_switch_ip_box.value = host_switch_select.value;
        }
</script>


</body>
</html>